---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&per_page=1&query=Austin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=529&per_page=1&query=Austin>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_ACCESS_KEY>&page=2&per_page=1&query=Austin>;
        rel="next"
      X-Total:
      - '529'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"total":529,"total_pages":529,"results":[{"id":"AlBgcDfDG_s","created_at":"2018-06-27T05:09:52-04:00","updated_at":"2020-04-14T01:04:34-04:00","promoted_at":null,"width":5834,"height":3895,"color":"#0D120C","description":"Life
        isn\u2019t all about the grades you get, sometimes it\u2019s about the hands
        you shake. This photo was take on June 24th, 2018 I met a guy online who thought
        about the location when we arrived I realized this was one of the most iconic
        views Texas had to offer. A burgeoning town, with a rich and vibrant culture,
        home to southern hospitality. So here\u2019s your ticket to a time now past.
        Live. Love. Laugh. And don\u2019t forget to enjoy the art we eternally create.","alt_description":"photo
        of city","urls":{"raw":"https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODc3NX0","full":"https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODc3NX0","regular":"https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODc3NX0","small":"https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODc3NX0","thumb":"https://images.unsplash.com/photo-1530089711124-9ca31fb9e863?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODc3NX0"},"links":{"self":"https://api.unsplash.com/photos/AlBgcDfDG_s","html":"https://unsplash.com/photos/AlBgcDfDG_s","download":"https://unsplash.com/photos/AlBgcDfDG_s/download","download_location":"https://api.unsplash.com/photos/AlBgcDfDG_s/download"},"categories":[],"likes":301,"liked_by_user":false,"current_user_collections":[],"user":{"id":"uqWG0xQUAyw","updated_at":"2020-04-06T15:32:01-04:00","username":"csfoto","name":"Carlos
        Alfonso","first_name":"Carlos","last_name":"Alfonso","twitter_username":null,"portfolio_url":"https://lightweightsites.com","bio":"Take
        a deep breath and share a smile (:","location":"Austin, Texas","links":{"self":"https://api.unsplash.com/users/csfoto","html":"https://unsplash.com/@csfoto","photos":"https://api.unsplash.com/users/csfoto/photos","likes":"https://api.unsplash.com/users/csfoto/likes","portfolio":"https://api.unsplash.com/users/csfoto/portfolio","following":"https://api.unsplash.com/users/csfoto/following","followers":"https://api.unsplash.com/users/csfoto/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1530091143751-9fac3b1ca6c2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1530091143751-9fac3b1ca6c2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1530091143751-9fac3b1ca6c2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":null,"total_collections":0,"total_likes":1,"total_photos":2,"accepted_tos":false},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-04-14T01:01:15-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
