---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality:Austin,%20TX&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Austin, TX
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Travis County",
                       "short_name" : "Travis County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Austin, TX, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.5168629,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.93838289999999
                       }
                    },
                    "location" : {
                       "lat" : 30.267153,
                       "lng" : -97.74306079999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.5168629,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.93838289999999
                       }
                    }
                 },
                 "place_id" : "ChIJLwPMoJm1RIYRetVp1EtGm10",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 15:55:53 GMT
recorded_with: VCR 5.1.0
