---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_ONE>&lat=30.267153&lon=97.743057
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.27,"lon":97.74,"timezone":"Asia/Shanghai","current":{"dt":1587311535,"sunrise":1587250640,"sunset":1587297512,"temp":273.07,"feels_like":266.28,"pressure":1013,"humidity":18,"dew_point":253.75,"uvi":12.43,"clouds":98,"wind_speed":4.5,"wind_deg":217,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1587308400,"temp":273.07,"feels_like":266.28,"pressure":1013,"humidity":18,"dew_point":253.75,"clouds":98,"wind_speed":4.5,"wind_deg":217,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1587312000,"temp":272.19,"feels_like":265.67,"pressure":1014,"humidity":18,"dew_point":252.99,"clouds":98,"wind_speed":4.08,"wind_deg":219,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1587315600,"temp":[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_ONE>&lat=30.267153&lon=-97.743057
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.27,"lon":-97.74,"timezone":"America/Chicago","current":{"dt":1587311569,"sunrise":1587297521,"sunset":1587344448,"temp":291.23,"feels_like":292.53,"pressure":1009,"humidity":93,"dew_point":290.08,"uvi":9.53,"clouds":90,"visibility":805,"wind_speed":1.5,"wind_deg":290,"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50d"}],"rain":{}},"hourly":[{"dt":1587308400,"temp":291.23,"feels_like":291.94,"pressure":1009,"humidity":93,"dew_point":290.08,"clouds":90,"wind_speed":2.35,"wind_deg":201,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1587312000,"temp":294.14,"feels_like":294.28,"pressure":1008,"humidity":86,"dew_point":291.71,"clouds":95,"wind_speed":4.13,"wind_deg":217,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1587[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_ONE>&lat=30.267153&lon=-97.743057&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.27,"lon":-97.74,"timezone":"America/Chicago","current":{"dt":1587311881,"sunrise":1587297521,"[...]
