---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_ONE>&lat=30.267153&lon=-97.743057&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.27,"lon":-97.74,"timezone":"America/Chicago","current":{"dt":1587406461,"sunrise":1587383858,"sunset":1587430886,"temp":78.55,"feels_like":82.09,"pressure":1014,"humidity":64,"dew_point":65.35,"uvi":9.44,"clouds":1,"visibility":16093,"wind_speed":3.36,"wind_deg":0,"weather":[{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11d"}]},"hourly":[{"dt":1587405600,"temp":78.55,"feels_like":82.11,"pressure":1014,"humidity":64,"dew_point":65.35,"clouds":1,"wind_speed":3.33,"wind_deg":154,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587409200,"temp":84.22,"feels_like":83.41,"pressure":1012,"humidity":43,"dew_point":59.31,"clouds":1,"wind_speed":6.76,"wind_deg":177,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587412800,"temp":87.66,"feels_like":83[...]
