---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality:Austin,%20TX&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Austin, TX
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Travis County",
                       "short_name" : "Travis County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Austin, TX, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.5168629,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.93838289999999
                       }
                    },
                    "location" : {
                       "lat" : 30.267153,
                       "lng" : -97.74306079999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.5168629,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.93838289999999
                       }
                    }
                 },
                 "place_id" : "ChIJLwPMoJm1RIYRetVp1EtGm10",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 15:55:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_ONE>&lat=30.267153&lon=-97.7430608&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.27,"lon":-97.74,"timezone":"America/Chicago","current":{"dt":1587484553,"sunrise":1587470196,"sunset":1587517325,"temp":72.84,"feels_like":75.11,"pressure":1016,"humidity":78,"dew_point":65.59,"uvi":9.86,"clouds":90,"visibility":8047,"wind_speed":5.82,"wind_deg":0,"weather":[{"id":721,"main":"Haze","description":"haze","icon":"50d"}]},"hourly":[{"dt":1587481200,"temp":72.84,"feels_like":73.92,"pressure":1016,"humidity":78,"dew_point":65.59,"clouds":90,"wind_speed":7.92,"wind_deg":143,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1587484800,"temp":75.2,"feels_like":75.33,"pressure":1016,"humidity":69,"dew_point":64.33,"clouds":94,"wind_speed":8.66,"wind_deg":142,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1587488400,"temp":79.88,[...]
